@media screen and (max-width: 2560px) {
    header h1 {
        display: block;
        text-align: center;
    }
}
/* позиционирование services (в форме колонки)*/
@media screen and (min-width: 501px) and (max-width: 549px) {
    #services {
        display: flex;
        flex-direction: column;
    }
}
@media screen and (min-width: 549px) and (max-width: 767px) {
    .service-3, .service-4 {
        margin-top: 50px;
    }
}
@media screen and (min-width: 551px) and (max-width: 1200px) {
    .features {
        height: 800px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .service-4 {
        margin-top: 50px;
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .service-3, .service-4 {
        margin-top: 50px;
    }
}
/*тут стили для service заканчиваются*/
@media screen and (min-width: 320px) and (max-width: 550px) {
    section.case {
        height: 800px;
        margin-top: 550px;
    }
    .features {
        height: 650px;
    }
    .service-2, .service-3, .service-4 {
        margin-top: 30px;
    }
}
@media screen and (max-width: 1200px) {
    .laptop-img {
        display: none;
    }
}
@media screen and (max-width: 991px) {
    .top-heading {
        display: none !important;
    }
}
@media screen and (min-width: 768px) and (max-width: 4056px) {
    .menu-btn {
        display: none;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .menu-for-large {
        display: none;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .flex-1, .flex-2 {
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
    }
    .box {
        align-self: center;
    }
    .list {
        font-size: 0.875rem;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .team {
        height: 1350px;
        margin-top: 1500px;
    }
    .members-photo {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .photo-2, .photo-3 {
        margin-top: 60px;
    }
    .quotation {
        height: 400px;
    }
}
@media screen and (min-width: 320px) and (max-width: 768px) {
    .footer span {
        display: none;
    }
    .footer div.icons {
        margin: 0 auto;
    }
}